* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    background-color: black;
}

h1 {
    color:white;
    font-weight: 500;
}

h3 {
    color: white;
    font-weight: 400;
}

button {
    width: 55px;
    height: 25px;
    border-radius: 10px;
    background: #222;
    color: white;
    border: none;
}

button:focus,
button:hover {
    box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.8);
    border-color: rgba(255, 255, 255, 0.8);
}