body {
    
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;   /* horizontal */
    align-items: center;       /* vertical */
}

html{
    background-color: black;
}

nav{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: red;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li{
    display: inline;
    padding-bottom: 5px;
    font-size: large;
    border-color: white;
}

nav a{
    color: white;
    text-decoration: none;
}

h2 {
    font-size: 2em;
    color: white;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.item2 {
    position: absolute;
    

}

.error {
    color: red;
    font-size: 0.9em;
}

/* Base input styling */
input {
    font-size: 1rem;
    border-radius: 6px;
    transition: 0.25s ease; /* smooth animation */
    outline: none; /* remove default blue border */
}


#userInput:focus {
    box-shadow: 0 0 10px 3px rgba(0, 200, 255, 0.8);
    border: 2px solid rgba(0, 200, 255, 0.8);
}

#userEmail:focus {
    box-shadow: 0 0 10px 3px rgba(0, 255, 120, 0.8);
    border: 2px solid rgba(0, 255, 120, 0.8);
}

#userDOB:focus {
    box-shadow: 0 0 10px 3px rgba(255, 200, 0, 0.8);
    border: 2px solid rgba(255, 200, 0, 0.8);
}

#userPassword:focus {
    box-shadow: 0 0 10px 3px rgba(255, 80, 80, 0.8);
    border: 2px solid rgba(255, 80, 80, 0.8);
}

